<style>
    .ng-invalid {
      border-color: red;
      outline-color: red;
    }
    .ng-valid {
      border-color: green;
      outline-color: green;
    }
  </style>

<div class="container">
    <form action="/controllers/register-controller" method="POST" name="signupForm" novalidate ng-submit="signupForm.$valid &&sendForm()">
        <div ng-controller = "SignupController">
            <label for="uname"><b>Email ID</b></label>
            <input type="text" name="email" ng-model="txtmail" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" placeholder = "abc@example.Com" required />

            <span style="color:Red" ng-show="signupForm.email.$error.required"> Required! </span>

            <span style="color:Red" ng-show="signupForm.email.$dirty&&signupForm.email.$error.pattern">Please Enter Valid Email</span>
      <br/>

            <div>
                <label>Password</label>
                <input type="password" name="pwd" ng-model="user.password" required="" class="form-control" />
                <div style="color:orange" ng-show="!signupForm.psw.$valid">Password should be at least 8 characters
                    long and should contain one number,one character and one special
                    character</div><br>
              </div>
              <div>
                <label>Confirm Password</label>
                <input type="password" name="confirmPassword" ng-model="user.confirmPassword" required="" compare-to="user.password" class="form-control" />
                <span class="error text-danger" ng-show="signupForm.confirmPassword.$error.compareTo">  

                    Passwords don't match.  
        
                 </span>   
            </div>  


            <button type="submit">Signup</button>
        </div>
    </div>
</form>
